// Brands
$brand-primary: #3A539B;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$brand-white: #ffffff;
$brand-black: #212121;
$brand-border: #d3d1d0;
